@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* Light box styles */
  .slide-left {
    animation: slideLeft 300ms ease-out;
  }

  .slide-right {
    animation: slideRight 300ms ease-out;
  }

  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* Carousel text animation */
#carouselText {
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#carouselText.show {
  opacity: 1;
  transform: translateY(0);
}

#carouselDots button {
  transition: transform 0.3s, background-color 0.3s;
}

#carouselDots button:hover {
  transform: scale(1.2);
}

#carouselTitle,
#carouselCaption {
  white-space: nowrap;       /* Keep on one line */
  overflow: hidden;          /* Hide overflow */
  text-overflow: ellipsis;   /* Show "..." if too long */
}
