@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

/* Light box styles */
  .slide-left {
    animation: slideLeft 300ms ease-out;
  }

  .slide-right {
    animation: slideRight 300ms ease-out;
  }

  @keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideRight {
    from {
      opacity: 0;
      transform: translateX(40px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }